@model IEnumerable<MyProject.ViewModels.HouseAccessViewModel>

@{
    ViewData["Title"] = "權限管理";
}

<h1>權限管理</h1>

<h4>客戶資料</h4>
<h6>所有權人: @ViewBag.OwnerName</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Access", "Houses", FormMethod.Post))
        {
            <div class="form-group">
                @foreach (var item in Model)
                {
                    <p>
                        <input type="checkbox" name="userIds" value="@item.UserId" @if(@item.Checked) { @Html.Raw("checked") }>
                        @Html.DisplayFor(modelItem => item.CnName) @Html.DisplayFor(modelItem => item.EngName) - @Html.DisplayFor(modelItem => item.DepartmentName) (@Html.DisplayFor(modelItem => item.UserName))
                    </p>
                    <br />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">回上頁</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
