@model MyProject.ViewModels.HouseViewModel

@{
    ViewData["Title"] = "詳情";
}

<h1>詳情</h1>

<div>
    <h4>客戶資料</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subsection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subsection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareNumerator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareNumerator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareDenominator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareDenominator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerRelationship)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerRelationship)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerIdNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerIdNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerTelephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerTelephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerResidence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerResidence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">編輯</a> |
    <a asp-action="Index">回上頁</a>
</div>
