@model MyProject.ViewModels.PropertyViewModel

@{
    ViewData["Title"] = "刪除";
}

<h1>刪除</h1>

<h3>是否確定要刪除此筆資料？</h3>
<div>
    <h4>產權資料</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LetterNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LetterNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherPropertyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherPropertyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Use)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Use)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherUse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachedArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachedArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharedArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharedArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherAreaDefine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherAreaDefine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SettingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SettingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandSection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingFinishedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingFinishedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decorate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decorate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GasFacility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GasFacility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balcony)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balcony)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpperGroundFloors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpperGroundFloors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnderGroundFloors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnderGroundFloors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SitDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SitDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoadWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoadWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LightingFace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LightingFace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomCounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HallCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HallCounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToliteCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToliteCounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeiborCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeiborCounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElevatorCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElevatorCounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElementarySchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElementarySchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JuniorHighSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JuniorHighSchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Park)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Park)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Market)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Market)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusStation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MRTStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MRTStation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentPeriodFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentPeriodFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentPeriodTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentPeriodTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherMainMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherMainMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutsideMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutsideMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherOutsideMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherOutsideMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courtyard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courtyard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagementFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagementFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingEntrance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingEntrance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BringingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BringingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftPillar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftPillar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftWallCabinet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftWallCabinet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftLiquorCabinet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftLiquorCabinet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftSofa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftSofa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftHeater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftHeater)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftBedding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftBedding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftCooker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftCooker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftGas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftGas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftTV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftTV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftFridge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftFridge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftAirCon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftAirCon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftOther)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftOther)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">回上頁</a>
    </form>
</div>
