@model MyProject.Models.RealEstateDetail

@{
    ViewData["Title"] = "新增";

    var otherRightsType = new int[0];
    var settingOtherRightsType =new int[0];
    var restrictingRegistrationType = new int[0];
    var respectivelyManageBy826Type = new int[0];
    var developMethodRestrictionsType = new int[0];
    var buildFarmhouseType = new int[0];
    var nationalParkType = new int[0];
    var drinkingWaterSourceType = new int[0];
    var polutedAreaType = new int[0];
    var chooseManageType = new int[0];
    var surroundingsAppendiceType = new int[0];
    var surroundings = new int[0];
}

<style>
    .form-group { display: inline-block }
    form > div { margin-bottom: 10px }
</style>

<h1>新增</h1>

<h4>不動產說明書</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <span>物件名稱：</span>
                <div class="form-group">
                    <input asp-for="ObjectName" class="form-control" />
                    <span asp-validation-for="ObjectName" class="text-danger"></span>
                </div>
            </div>

            <h5>一、標示及權利範圍：</h5>

            <div>
                <span>(一) 坐落：</span>
                <div class="form-group">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Region" class="form-control" />
                    <span asp-validation-for="Region" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Section" class="form-control" />
                    <span asp-validation-for="Section" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Subsection" class="form-control" />
                    <span asp-validation-for="Subsection" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="PlaceNumber" class="form-control" />
                    <span asp-validation-for="PlaceNumber" class="text-danger"></span>
                </div>
                <span>地號。</span>
            </div>

            <div>
                <span>(二) 面積：</span>
                <div class="form-group">
                    <input asp-for="Area" class="form-control" />
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
                <span>平方公尺。</span>
            </div>

            <div>
                <span>(三) 權利範圍：</span>
                <div class="form-group">
                    <input asp-for="RightsScope" class="form-control" />
                    <span asp-validation-for="RightsScope" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>(四) 地籍圖及土地相關位置略圖等，如附件</span>
                <div class="form-group">
                    <input asp-for="AppendicesNames" class="form-control" />
                    <span asp-validation-for="AppendicesNames" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <h5>二、</h5>

            <div>
                <input asp-for="IsLandOwner" type="checkbox" />
                <span>土地所有權人：</span>
                <div class="form-group">
                    <input asp-for="LandOwner" class="form-control" />
                    <span asp-validation-for="LandOwner" class="text-danger"></span>
                </div>
                <span>，</span>

                <input asp-for="IsOtherObligee" type="checkbox" />
                <span>他項權利人：</span>
                <div class="form-group">
                    <input asp-for="OtherObligee" class="form-control" />
                    <span asp-validation-for="OtherObligee" class="text-danger"></span>
                </div>
                <span>，</span>

                <input asp-for="IsRegisteredManager" type="checkbox" />
                <span>登記簿上記載之管理人：</span>
                <div class="form-group">
                    <input asp-for="RegisteredManager" class="form-control" />
                    <span asp-validation-for="RegisteredManager" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <h5>三、交易權利種類及其登記狀態：</h5>
            <span>(詳如登記謄本)</span>

            <div>
                <span>(一) </span>
                <input asp-for="IsOwnership" type="checkbox" />
                <span>所有權：</span>
                @foreach(var c in System.Enum.GetValues(typeof(OwnershipType)))
                {
                    <div class="form-group">
                        <input type="radio" asp-for="OwnershipType" value="@((int)c)" class="control-label" />
                        <label asp-for="OwnershipType">@c </label>
                    </div>
                }
            </div>

            <div>
                <span>(二) </span>
                <input asp-for="IsOtherRights" type="checkbox" />
                <span>他項權利：</span>
                @foreach(var c in System.Enum.GetValues(typeof(OtherRightsType)))
                {
                    <div class="form-group">
                        <label><input type="checkbox" name="otherRightsType" value="@((int)c)" class="control-label" @if(Array.IndexOf(otherRightsType, (int)c) > -1) { @Html.Raw("checked") }/>@c </label>
                    </div>
                }
                <span>。</span>
            </div>

            <div>
                <span>(三) </span>
                <div class="form-group">
                    <input type="radio" asp-for="IsTrust" value="@true" /> 有
                    <input type="radio" asp-for="IsTrust" value="@false" /> 無
                </div>
                <span> 信託登記。若有，信託契約之主要條款內容：</span>
                <div class="form-group">
                    <input asp-for="TrustContent" class="form-control" />
                    <span asp-validation-for="TrustContent" class="text-danger"></span>
                </div>
                <span>(依登記謄本及信託專簿記載)。</span>
            </div>
            
            <div>
                <span>(四) 基地權利</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsBaseRightsSettingBurden" value="@true" /> 有
                    <input type="radio" asp-for="IsBaseRightsSettingBurden" value="@false" /> 無
                </div>
                <span>設定負擔。若有，設定負擔情形：</span>
                <div class="form-group">
                    <input asp-for="BaseRightsSettingBurdenStatus" class="form-control" />
                    <span asp-validation-for="BaseRightsSettingBurdenStatus" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>
            
            <div>
                <span>1.</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsSettingOtherRights" value="@true" /> 有
                    <input type="radio" asp-for="IsSettingOtherRights" value="@false" /> 無
                </div>
                <span>他項權利設定(</span>
                @foreach(var c in System.Enum.GetValues(typeof(OtherRightsType)))
                {
                    <div class="form-group">
                        <label><input type="checkbox" name="settingOtherRightsType" value="@((int)c)" class="control-label" @if(Array.IndexOf(settingOtherRightsType, (int)c) > -1) { @Html.Raw("checked") } />@c </label>
                    </div>
                }
                <span>)。</span>
            </div>
            
            <div>
                <span>2.</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsRestrictingRegistration" value="@true" /> 有
                    <input type="radio" asp-for="IsRestrictingRegistration" value="@false" /> 無
                </div>
                <span>限制登記(</span>
                @foreach(var c in System.Enum.GetValues(typeof(RestrictingRegistrationType)))
                {
                    <div class="form-group">
                        <label><input type="checkbox" name="restrictingRegistrationType" value="@((int)c)" class="control-label" @if(Array.IndexOf(restrictingRegistrationType, (int)c) > -1) { @Html.Raw("checked") } />@c </label>
                    </div>
                }
                <span>：</span>
                <div class="form-group">
                    <input asp-for="OtherRestrictingRegistration" class="form-control" />
                    <span asp-validation-for="OtherRestrictingRegistration" class="text-danger"></span>
                </div>
                <span>。)。</span>
            </div>
            <div>
                <span>3.其他事項(</span>
                <input asp-for="IsOtherBaseRightsItemBy254" type="checkbox" />
                <span>依民事訴訟法第254條規定註記，其註記內容：</span>
                <div class="form-group">
                    <input asp-for="OtherBaseRightsItemBy254" class="form-control" />
                    <span asp-validation-for="OtherBaseRightsItemBy254" class="text-danger"></span>
                </div>
                <span>，</span>
                <input asp-for="IsOtherBaseRightsItemRelated" type="checkbox" />
                <span>其他相關註記：</span>
                <div class="form-group">
                    <input asp-for="OtherBaseRightsItemRelated" class="form-control" />
                    <span asp-validation-for="OtherBaseRightsItemRelated" class="text-danger"></span>
                </div>
                <span>)。</span>
            </div>
            
            <h5>四、目前管理與使用情況：</h5>
            <div>
                <span>(一) </span>
                <div class="form-group">
                    <input type="radio" asp-for="IsUseByConvention" value="@true" /> 是
                    <input type="radio" asp-for="IsUseByConvention" value="@false" /> 否
                </div>
                <span>有依慣例使用之現況。若有，其內容：</span>
                <div class="form-group">
                    <input asp-for="UseByConventionContent" class="form-control" />
                    <span asp-validation-for="UseByConventionContent" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>
            <div>
                <span>(二) </span>
                <div class="form-group">
                    <input type="radio" asp-for="IsRespectivelyManage" value="@true" /> 有
                    <input type="radio" asp-for="IsRespectivelyManage" value="@false" /> 無
                </div>
                <span>共有人分管協議，</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsRespectivelyManageBy826" value="@true" /> 有
                    <input type="radio" asp-for="IsRespectivelyManageBy826" value="@false" /> 無
                </div>
                <span>依民法第826條之1規定為</span>
                @foreach(var c in System.Enum.GetValues(typeof(RespectivelyManageBy826Type)))
                {
                    <div class="form-group">
                        <label><input type="checkbox" name="respectivelyManageBy826Type" value="@((int)c)" class="control-label" @if(Array.IndexOf(respectivelyManageBy826Type, (int)c) > -1) { @Html.Raw("checked") } />@c </label>
                    </div>
                }
                <span>等約定之登記。若有，其內容：</span>
                <div class="form-group">
                    <input asp-for="RespectivelyManageBy826Content" class="form-control" />
                    <span asp-validation-for="RespectivelyManageBy826Content" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>
            <div>
                <span>(三) </span>
                <div class="form-group">
                    <input type="radio" asp-for="IsRent" value="@true" /> 有
                    <input type="radio" asp-for="IsRent" value="@false" /> 無
                </div>
                <span>出租，</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsLend" value="@true" /> 有
                    <input type="radio" asp-for="IsLend" value="@false" /> 無
                </div>
                <span>出借。若有，其出租、出借情形：</span>
                <div class="form-group">
                    <input asp-for="RentLendStatus" class="form-control" />
                    <span asp-validation-for="RentLendStatus" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>
            <div>
                <span>(四) </span>
                <div class="form-group">
                    <input type="radio" asp-for="IsOccupiedWithoutRights" value="@true" /> 有
                    <input type="radio" asp-for="IsOccupiedWithoutRights" value="@false" /> 無
                </div>
                <span>被他人無權占用。若有，其被占用情形：</span>
                <div class="form-group">
                    <input asp-for="OccupiedWithoutRightsStatus" class="form-control" />
                    <span asp-validation-for="OccupiedWithoutRightsStatus" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>
            <div>
                <span>(五) </span>
                <div class="form-group">
                    <input type="radio" asp-for="IsPublicWay" value="@true" /> 有
                    <input type="radio" asp-for="IsPublicWay" value="@false" /> 無
                </div>
                <span>供公眾通行之私有道路。若有，其位置如附件</span>
                <div class="form-group">
                    <input asp-for="PublicWayPlaceAppendice" class="form-control" />
                    <span asp-validation-for="PublicWayPlaceAppendice" class="text-danger"></span>
                </div>
                <span>，約略面積</span>
                <div class="form-group">
                    <input asp-for="PublicWayArea" class="form-control" />
                    <span asp-validation-for="PublicWayArea" class="text-danger"></span>
                </div>
                <span>平方公尺。</span>
            </div>
            
            <h5>五、使用管制內容：</h5>
            
            <div>
                <span>(一) 使用分區或編定</span>
            </div>

            <div>
                <span>1. 都市土地，土地使用分區：</span>
                <div class="form-group">
                    <input asp-for="UrbanLandSection" class="form-control" />
                    <span asp-validation-for="UrbanLandSection" class="text-danger"></span>
                </div>
                <span>(以主管機關核發之都市計畫土地使用分區證明為準)。</span>
            </div>

            <div>
                <span>2. 非都市土地，土地使用分區：</span>
                <div class="form-group">
                    <input asp-for="NonUrbanLandSection" class="form-control" />
                    <span asp-validation-for="NonUrbanLandSection" class="text-danger"></span>
                </div>
                <span>，用地編定類別：</span>
                <div class="form-group">
                    <input asp-for="NonUrbanLandType" class="form-control" />
                    <span asp-validation-for="NonUrbanLandType" class="text-danger"></span>
                </div>
                <span>(以土地登記謄本記載為準)。</span>
            </div>

            <div>
                <span>3. 若未記載者，其管制情形：</span>
                <div class="form-group">
                    <input asp-for="UnKnownLandRegulationStatus" class="form-control" />
                    <span asp-validation-for="UnKnownLandRegulationStatus" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>(二) 法定建蔽率：</span>
                <div class="form-group">
                    <input asp-for="BuildRate" class="form-control" />
                    <span asp-validation-for="BuildRate" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>(三) 法定容積率：</span>
                <div class="form-group">
                    <input asp-for="VolumeRate" class="form-control" />
                    <span asp-validation-for="VolumeRate" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>(四) 開發方式限制：</span>
                <div class="form-group">
                    <input asp-for="IsUrbanPlanningManual" type="checkbox" />
                    <span asp-validation-for="IsUrbanPlanningManual" class="text-danger"></span>
                </div>
                <span>都市計畫說明書有附帶規定以</span>
                
                @foreach(var c in System.Enum.GetValues(typeof(DevelopMethodRestrictionsType)))
                {
                    <div class="form-group">
                        <label><input type="checkbox" name="developMethodRestrictionsType" value="@((int)c)" class="control-label" @if(Array.IndexOf(developMethodRestrictionsType, (int)c) > -1) { @Html.Raw("checked") } />@c </label>
                    </div>
                }
                <span>方式：</span>
                <div class="form-group">
                    <input asp-for="OtherDevelopMethodRestriction" class="form-control" />
                    <span asp-validation-for="OtherDevelopMethodRestriction" class="text-danger"></span>
                </div>
                <span>開發；</span>
                <input asp-for="IsBuildingRestrictedRegion" type="checkbox" />
                <span>屬都市計畫法規定之禁限建地區。</span>
            </div>
            
            <div>
                <span>(五) </span>
                <div class="form-group">
                    <input type="radio" asp-for="IsFarmLand" value="@true" /> 是
                    <input type="radio" asp-for="IsFarmLand" value="@false" /> 否
                </div>
                <span>屬</span>
                
                @foreach(var c in System.Enum.GetValues(typeof(BuildFarmhouseType)))
                {
                    <div class="form-group">
                        <label><input type="checkbox" name="buildFarmhouseType" value="@((int)c)" class="control-label" @if(Array.IndexOf(buildFarmhouseType, (int)c) > -1) { @Html.Raw("checked") } />@c </label>
                    </div>
                }
                <span>之農業用地。若是，其使用管制情形(非屬農業用地者免記載)：</span>
                <div class="form-group">
                    <input asp-for="FarmLandRegulation" class="form-control" />
                    <span asp-validation-for="FarmLandRegulation" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>(六) 若屬土地開發者，敘明下列事項：</span>
            </div>

            <div>
                <span>1.</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsMountLand" value="@true" /> 是
                    <input type="radio" asp-for="IsMountLand" value="@false" /> 否
                </div>
                <span>位屬山坡地範圍。若是，其限制重點：</span>
                <div class="form-group">
                    <input asp-for="MountLandRestrictions" class="form-control" />
                    <span asp-validation-for="MountLandRestrictions" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>2.</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsBanningBuildByKeepSoilLaw" value="@true" /> 是
                    <input type="radio" asp-for="IsBanningBuildByKeepSoilLaw" value="@false" /> 否
                </div>
                <span>位屬依水土保持法公告禁止開發之特定水土保持區範圍。若是，其限制重點：</span>
                <div class="form-group">
                    <input asp-for="BanningBuildByKeepSoilLawRestrictions" class="form-control" />
                    <span asp-validation-for="BanningBuildByKeepSoilLawRestrictions" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>3.</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsRiverRegion" value="@true" /> 是
                    <input type="radio" asp-for="IsRiverRegion" value="@false" /> 否
                </div>
                <span>位屬依水利法劃設公告之河川區域範圍。若是，其限制重點：</span>
                <div class="form-group">
                    <input asp-for="RiverRegionRestrictions" class="form-control" />
                    <span asp-validation-for="RiverRegionRestrictions" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>4.</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsDrainFacilityRegion" value="@true" /> 是
                    <input type="radio" asp-for="IsDrainFacilityRegion" value="@false" /> 否
                </div>
                <span>位屬依水利法劃設公告之排水設施範圍。若是，其限制重點：</span>
                <div class="form-group">
                    <input asp-for="DrainFacilityRegionRestrictions" class="form-control" />
                    <span asp-validation-for="DrainFacilityRegionRestrictions" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>5.</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsNationalPark" value="@true" /> 是
                    <input type="radio" asp-for="IsNationalPark" value="@false" /> 否
                </div>
                <span>屬國家公園區內之</span>
                @foreach(var c in System.Enum.GetValues(typeof(NationalParkType)))
                {
                    <div class="form-group">
                        <label><input type="checkbox" name="nationalParkType" value="@((int)c)" class="control-label" @if(Array.IndexOf(nationalParkType, (int)c) > -1) { @Html.Raw("checked") } />@c </label>
                    </div>
                }
                <span>。若是，其限制重點：</span>
                <div class="form-group">
                    <input asp-for="NationalParkRestrictions" class="form-control" />
                    <span asp-validation-for="NationalParkRestrictions" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>6.</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsDrinkingWaterSource" value="@true" /> 是
                    <input type="radio" asp-for="IsDrinkingWaterSource" value="@false" /> 否
                </div>
                <span>屬飲用水管理條例公告之</span>
                @foreach(var c in System.Enum.GetValues(typeof(DrinkingWaterSourceType)))
                {
                    <div class="form-group">
                        <label><input type="checkbox" name="drinkingWaterSourceType" value="@((int)c)" class="control-label" @if(Array.IndexOf(drinkingWaterSourceType, (int)c) > -1) { @Html.Raw("checked") } />@c </label>
                    </div>
                }
                <span>。若是，其限制重點：</span>
                <div class="form-group">
                    <input asp-for="DrinkingWaterSourceRestrictions" class="form-control" />
                    <span asp-validation-for="DrinkingWaterSourceRestrictions" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>7.</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsWaterProtectionAreaByLaw" value="@true" /> 是
                    <input type="radio" asp-for="IsWaterProtectionAreaByLaw" value="@false" /> 否
                </div>
                <span>屬自來水法規定之水質水量保護區。若是，其限制重點：</span>
                <div class="form-group">
                    <input asp-for="WaterProtectionAreaByLawRestrictions" class="form-control" />
                    <span asp-validation-for="WaterProtectionAreaByLawRestrictions" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>8.</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsPolutedArea" value="@true" /> 是
                    <input type="radio" asp-for="IsPolutedArea" value="@false" /> 否
                </div>
                <span>屬政府公告之</span>
                @foreach(var c in System.Enum.GetValues(typeof(PolutedAreaType)))
                {
                    <div class="form-group">
                        <label><input type="checkbox" name="polutedAreaType" value="@((int)c)" class="control-label" @if(Array.IndexOf(polutedAreaType, (int)c) > -1) { @Html.Raw("checked") } />@c </label>
                    </div>
                }
                <span>。若是，其限制重點：</span>
                <div class="form-group">
                    <input asp-for="PolutedAreaRestrictions" class="form-control" />
                    <span asp-validation-for="PolutedAreaRestrictions" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <h5>六、重要交易條件：</h5>

            <div>
                <span>(一) 交易種類：</span>
                @foreach( var c in System.Enum.GetValues(typeof(TransactionType)) )
                {
                    <div class="form-group">
                        <input type="radio" asp-for="TransactionType" value="@((int)c)" class="control-label" />
                        <span> </span>
                        <label asp-for="TransactionType">@c</label>
                    </div>
                }
                <span>。</span>
            </div>

            <div>
                <span>(二) 交易價金：新臺幣(以下同)</span>
                <div class="form-group">
                    <input asp-for="TransactionPrice" class="form-control" />
                    <span asp-validation-for="TransactionPrice" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>(三) 付款方式：</span>
                <div class="form-group">
                    <input asp-for="PaymentMethod" class="form-control" />
                    <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>(四) 應納稅費項目、規費項目及負擔方式：</span>
            </div>

            <div>
                <span>1.稅費項目：</span>
                <input asp-for="IsLandValueAddedTax" type="checkbox" />
                <span>土地增值稅預估</span>
                <div class="form-group">
                    <input asp-for="LandValueAddedTax" class="form-control" />
                    <span asp-validation-for="LandValueAddedTax" class="text-danger"></span>
                </div>
                <span>元整，</span>
                <input asp-for="IsLandTax" type="checkbox" />
                <span>地價稅預估</span>
                <div class="form-group">
                    <input asp-for="LandTax" class="form-control" />
                    <span asp-validation-for="LandTax" class="text-danger"></span>
                </div>
                <span>元整，</span>
                <input asp-for="IsStampDuty" type="checkbox" />
                <span>印花稅預估</span>
                <div class="form-group">
                    <input asp-for="StampDuty" class="form-control" />
                    <span asp-validation-for="StampDuty" class="text-danger"></span>
                </div>
                <span>元整，</span>
                <input asp-for="IsOtherTax" type="checkbox" />
                <span>其他：</span>
                <div class="form-group">
                    <input asp-for="OtherTax" class="form-control" />
                    <span asp-validation-for="OtherTax" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>2.規費項目：</span>
                <input asp-for="IsConstructionBenefitFee" type="checkbox" />
                <span>工程受益費預估</span>
                <div class="form-group">
                    <input asp-for="ConstructionBenefitFee" class="form-control" />
                    <span asp-validation-for="ConstructionBenefitFee" class="text-danger"></span>
                </div>
                <span>元整，</span>
                <input asp-for="IsRegistrationFee" type="checkbox" />
                <span>登記規費預估</span>
                <div class="form-group">
                    <input asp-for="RegistrationFee" class="form-control" />
                    <span asp-validation-for="RegistrationFee" class="text-danger"></span>
                </div>
                <span>元整，</span>
                <input asp-for="IsSurveyFee" type="checkbox" />
                <span>公證費預估</span>
                <div class="form-group">
                    <input asp-for="SurveyFee" class="form-control" />
                    <span asp-validation-for="SurveyFee" class="text-danger"></span>
                </div>
                <span>元整，</span>
                <input asp-for="IsOtherProcessingFee" type="checkbox" />
                <span>其他：</span>
                <div class="form-group">
                    <input asp-for="OtherProcessingFee" class="form-control" />
                    <span asp-validation-for="OtherProcessingFee" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>3.其他費用：</span>
                <input asp-for="IsContractFee" type="checkbox" />
                <span>簽約費預估</span>
                <div class="form-group">
                    <input asp-for="ContractFee" class="form-control" />
                    <span asp-validation-for="ContractFee" class="text-danger"></span>
                </div>
                <span>元整，</span>
                <input asp-for="IsOwnershipTransferAgencyFee" type="checkbox" />
                <span>所有權移轉代辦費預估</span>
                <div class="form-group">
                    <input asp-for="OwnershipTransferAgencyFee" class="form-control" />
                    <span asp-validation-for="OwnershipTransferAgencyFee" class="text-danger"></span>
                </div>
                <span>元整，</span>
                <input asp-for="IsOtherFee" type="checkbox" />
                <span>其他：</span>
                 <div class="form-group">
                    <input asp-for="OtherFee" class="form-control" />
                    <span asp-validation-for="OtherFee" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>4.負擔方式：由買賣雙方另以契約約定。</span>
            </div>

            <div>
                <span>(五) </span>
                @foreach(var c in System.Enum.GetValues(typeof(ChooseManageType)))
                {
                    <div class="form-group">
                        <label><input type="checkbox" name="chooseManageType" value="@((int)c)" class="control-label" @if(Array.IndexOf(chooseManageType, (int)c) > -1) { @Html.Raw("checked") } />@c </label>
                    </div>
                }
                <span>處理方式(如無，則免填)：</span>
                <div class="form-group">
                    <input asp-for="ManageMethod" class="form-control" />
                    <span asp-validation-for="ManageMethod" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>(六) </span>
                <div class="form-group">
                    <input type="radio" asp-for="IsBreachOfContractPunishment" value="@true" /> 有
                    <input type="radio" asp-for="IsBreachOfContractPunishment" value="@false" /> 無
                </div>
                <span>解約、違約之處罰等。若有，其內容：</span>
                <div class="form-group">
                    <input asp-for="BreachOfContractPunishment" class="form-control" />
                    <span asp-validation-for="BreachOfContractPunishment" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>(七) 其他交易事項：</span>
                <div class="form-group">
                    <input asp-for="OtherTransactionItem" class="form-control" />
                    <span asp-validation-for="OtherTransactionItem" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>
                
            <h5>七、其他重要事項：</h5>

            <div>
                <span>(一) 周邊環境，詳如</span>
                @foreach(var c in System.Enum.GetValues(typeof(SurroundingsAppendiceType)))
                {
                    <div class="form-group">
                        <label><input type="checkbox" name="surroundingsAppendiceType" value="@((int)c)" class="control-label" @if(Array.IndexOf(surroundingsAppendiceType, (int)c) > -1) { @Html.Raw("checked") } />@c </label>
                    </div>
                }
                <span>，並於圖面標示周邊半徑300公尺範圍內之重要環境設施(包括：</span>
                @foreach(var c in System.Enum.GetValues(typeof(Surroundings)))
                {
                    // 處理enum中之符號
                    var _c = c.ToString().Replace("_f", "(").Replace("_b", ")").Replace("_c", "、");
                    <div class="form-group">
                        <label><input type="checkbox" name="surroundings" value="@((int)c)" class="control-label" @if(Array.IndexOf(surroundings, (int)c) > -1) { @Html.Raw("checked") } />@_c </label>
                    </div>
                }
                <span>)。</span>
            </div>

            <div>
                <span>(二) </span>
                <div class="form-group">
                    <input type="radio" asp-for="IsCadastralMapRetest" value="@true" /> 是
                    <input type="radio" asp-for="IsCadastralMapRetest" value="@false" /> 否
                </div>
                <span>已辦理地籍圖重測。若否，主管機關</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsCadastralMapRetestAnnouced" value="@true" /> 是
                    <input type="radio" asp-for="IsCadastralMapRetestAnnouced" value="@false" /> 否
                </div>
                <span>已公告辦理。</span>
            </div>

            <div>
                <span>(三) </span>
                <div class="form-group">
                    <input type="radio" asp-for="IsOutOfBoundsBuilding" value="@true" /> 是
                    <input type="radio" asp-for="IsOutOfBoundsBuilding" value="@false" /> 否
                </div>
                <span>有被越界建築。若有，其被越界建築情形：</span>
                <div class="form-group">
                    <input asp-for="OutOfBoundsBuildingStatus" class="form-control" />
                    <span asp-validation-for="OutOfBoundsBuildingStatus" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>(四) </span>
                <div class="form-group">
                    <input type="radio" asp-for="IsCompulsoryAcquisition" value="@true" /> 是
                    <input type="radio" asp-for="IsCompulsoryAcquisition" value="@false" /> 否
                </div>
                <span>公告徵收。若是，其徵收範圍：</span>
                <div class="form-group">
                    <input asp-for="CompulsoryAcquisitionArea" class="form-control" />
                    <span asp-validation-for="CompulsoryAcquisitionArea" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <div>
                <span>(五) </span>
                <div class="form-group">
                    <input type="radio" asp-for="IsElectricityPower" value="@true" /> 有
                    <input type="radio" asp-for="IsElectricityPower" value="@false" /> 無
                </div>
                <span>電力，</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsTapWater" value="@true" /> 有
                    <input type="radio" asp-for="IsTapWater" value="@false" /> 無
                </div>
                <span>自來水，</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsGas" value="@true" /> 有
                    <input type="radio" asp-for="IsGas" value="@false" /> 無
                </div>
                <span>天然瓦斯，</span>
                <div class="form-group">
                    <input type="radio" asp-for="IsDrainer" value="@true" /> 有
                    <input type="radio" asp-for="IsDrainer" value="@false" /> 無
                </div>
                <span>排水設施等公共基礎設施。若無，理由：</span>
                <div class="form-group">
                    <input asp-for="NonInfrastructureReason" class="form-control" />
                    <span asp-validation-for="NonInfrastructureReason" class="text-danger"></span>
                </div>
                <span>。</span>
            </div>

            <h5>不動產經紀業名稱：</h5>

            <div>
                <div class="form-group">
                    <input asp-for="RealEstateBroker" class="form-control" />
                    <span asp-validation-for="RealEstateBroker" class="text-danger"></span>
                </div>
            </div>

            <h5>簽約日期：</h5>

            <div>
                <div class="form-group">
                    <input asp-for="ContractDate" class="form-control" />
                    <span asp-validation-for="ContractDate" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回上頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
