@model MyProject.Models.RealEstateDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RealEstateDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subsection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subsection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RightsScope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightsScope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppendicesNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppendicesNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLandOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLandOwner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandOwner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOtherObligee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOtherObligee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherObligee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherObligee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRegisteredManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRegisteredManager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredManager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOwnership)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOwnership)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnershipType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnershipType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOtherRights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOtherRights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherRightsType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherRightsType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTrust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTrust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrustContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrustContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBaseRightsSettingBurden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBaseRightsSettingBurden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseRightsSettingBurdenStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseRightsSettingBurdenStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSettingOtherRights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSettingOtherRights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SettingOtherRightsType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SettingOtherRightsType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRestrictingRegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRestrictingRegistration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestrictingRegistrationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestrictingRegistrationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherRestrictingRegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherRestrictingRegistration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOtherBaseRightsItemBy254)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOtherBaseRightsItemBy254)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherBaseRightsItemBy254)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherBaseRightsItemBy254)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOtherBaseRightsItemRelated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOtherBaseRightsItemRelated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherBaseRightsItemRelated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherBaseRightsItemRelated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUseByConvention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUseByConvention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseByConventionContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseByConventionContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRespectivelyManage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRespectivelyManage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRespectivelyManageBy826)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRespectivelyManageBy826)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespectivelyManageBy826Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespectivelyManageBy826Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespectivelyManageBy826Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespectivelyManageBy826Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLend)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentLendStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentLendStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOccupiedWithoutRights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOccupiedWithoutRights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupiedWithoutRightsStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupiedWithoutRightsStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublicWay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublicWay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicWayPlaceAppendice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicWayPlaceAppendice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicWayArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicWayArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrbanLandSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrbanLandSection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonUrbanLandSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonUrbanLandSection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonUrbanLandType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonUrbanLandType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnKnownLandRegulationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnKnownLandRegulationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolumeRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolumeRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUrbanPlanningManual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUrbanPlanningManual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevelopMethodRestrictionsType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevelopMethodRestrictionsType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherDevelopMethodRestriction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherDevelopMethodRestriction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBuildingRestrictedRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBuildingRestrictedRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFarmLand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFarmLand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildFarmhouseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildFarmhouseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FarmLandRegulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FarmLandRegulation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMountLand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMountLand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MountLandRestrictions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MountLandRestrictions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBanningBuildByKeepSoilLaw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBanningBuildByKeepSoilLaw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BanningBuildByKeepSoilLawRestrictions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BanningBuildByKeepSoilLawRestrictions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRiverRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRiverRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiverRegionRestrictions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiverRegionRestrictions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDrainFacilityRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDrainFacilityRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrainFacilityRegionRestrictions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrainFacilityRegionRestrictions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNationalPark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNationalPark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalParkType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalParkType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalParkRestrictions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalParkRestrictions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDrinkingWaterSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDrinkingWaterSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrinkingWaterSourceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrinkingWaterSourceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrinkingWaterSourceRestrictions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrinkingWaterSourceRestrictions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWaterProtectionAreaByLaw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWaterProtectionAreaByLaw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterProtectionAreaByLawRestrictions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterProtectionAreaByLawRestrictions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPolutedArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPolutedArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolutedAreaType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolutedAreaType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolutedAreaRestrictions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolutedAreaRestrictions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLandValueAddedTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLandValueAddedTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandValueAddedTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandValueAddedTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLandTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLandTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStampDuty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStampDuty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StampDuty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StampDuty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOtherTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOtherTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConstructionBenefitFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConstructionBenefitFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstructionBenefitFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstructionBenefitFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRegistrationFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRegistrationFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSurveyFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSurveyFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOtherProcessingFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOtherProcessingFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherProcessingFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherProcessingFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsContractFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsContractFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOwnershipTransferAgencyFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOwnershipTransferAgencyFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnershipTransferAgencyFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnershipTransferAgencyFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOtherFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOtherFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChooseManageType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChooseManageType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManageMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManageMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBreachOfContractPunishment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBreachOfContractPunishment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreachOfContractPunishment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreachOfContractPunishment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherTransactionItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherTransactionItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurroundingsAppendiceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurroundingsAppendiceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surroundings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surroundings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCadastralMapRetest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCadastralMapRetest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCadastralMapRetestAnnouced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCadastralMapRetestAnnouced)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOutOfBoundsBuilding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOutOfBoundsBuilding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutOfBoundsBuildingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutOfBoundsBuildingStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompulsoryAcquisition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCompulsoryAcquisition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompulsoryAcquisitionArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompulsoryAcquisitionArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsElectricityPower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsElectricityPower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTapWater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTapWater)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDrainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDrainer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonInfrastructureReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonInfrastructureReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealEstateBroker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealEstateBroker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="CreatePdf" asp-route-id="@Model?.Id" target="_blank">生成PDF</a> |
    <a asp-action="Index">Back to List</a>
</div>
