@model MyProject.ViewModels.CaseSourceLandInventoryItemsViewModel

<label asp-for="@Model.LandInventories" class="control-label"></label>
@if (Model is not null && Model.LandInventoryItems.Count > 1)
{
    @for (int i = 0; i < Model.LandInventoryItems.Count(); i++)
    {
        <div id=@("LandInventoryItem" + i) class="alert alert-light">
            <label asp-for="@Model.LandInventoryItems[i].SectionName" class="control-label"></label>
            <input asp-for="@Model.LandInventoryItems[i].SectionName" class="form-control" />
            <label asp-for="@Model.LandInventoryItems[i].PlaceNumber" class="control-label"></label>
            <input asp-for="@Model.LandInventoryItems[i].PlaceNumber" class="form-control" />
            <label asp-for="@Model.LandInventoryItems[i].AreaInSquareMeter" class="control-label"></label>
            <input asp-for="@Model.LandInventoryItems[i].AreaInSquareMeter" class="form-control" />
            <label asp-for="@Model.LandInventoryItems[i].AreaInPing" class="control-label"></label>
            <input asp-for="@Model.LandInventoryItems[i].AreaInPing" class="form-control" />
            <label asp-for="@Model.LandInventoryItems[i].Hold" class="control-label"></label>
            <input asp-for="@Model.LandInventoryItems[i].Hold" class="form-control" />
            <label asp-for="@Model.LandInventoryItems[i].PresentValue" class="control-label"></label>
            <input asp-for="@Model.LandInventoryItems[i].PresentValue" class="form-control" />
            <label asp-for="@Model.LandInventoryItems[i].UseSection" class="control-label"></label>
            <input asp-for="@Model.LandInventoryItems[i].UseSection" class="form-control" />
            <label asp-for="@Model.LandInventoryItems[i].Note" class="control-label"></label>
            <input asp-for="@Model.LandInventoryItems[i].Note" class="form-control" />
            <a class="btn btn-primary" onclick="removeRow(@i)">－</a>
        </div>
    }
}
else
{
    <div id=@("LandInventoryItem0") class="alert alert-light">
        <label asp-for="@Model.LandInventoryItems[0].SectionName" class="control-label"></label>
        <input asp-for="@Model.LandInventoryItems[0].SectionName" class="form-control" />
        <label asp-for="@Model.LandInventoryItems[0].PlaceNumber" class="control-label"></label>
        <input asp-for="@Model.LandInventoryItems[0].PlaceNumber" class="form-control" />
        <label asp-for="@Model.LandInventoryItems[0].AreaInSquareMeter" class="control-label"></label>
        <input asp-for="@Model.LandInventoryItems[0].AreaInSquareMeter" class="form-control" />
        <label asp-for="@Model.LandInventoryItems[0].AreaInPing" class="control-label"></label>
        <input asp-for="@Model.LandInventoryItems[0].AreaInPing" class="form-control" />
        <label asp-for="@Model.LandInventoryItems[0].Hold" class="control-label"></label>
        <input asp-for="@Model.LandInventoryItems[0].Hold" class="form-control" />
        <label asp-for="@Model.LandInventoryItems[0].PresentValue" class="control-label"></label>
        <input asp-for="@Model.LandInventoryItems[0].PresentValue" class="form-control" />
        <label asp-for="@Model.LandInventoryItems[0].UseSection" class="control-label"></label>
        <input asp-for="@Model.LandInventoryItems[0].UseSection" class="form-control" />
        <label asp-for="@Model.LandInventoryItems[0].Note" class="control-label"></label>
        <input asp-for="@Model.LandInventoryItems[0].Note" class="form-control" />
        @*<a class="btn btn-primary" onclick="removeRow(0)">－</a>*@
    </div>
}
