@model MyProject.ViewModels.CaseSourceLandInventoryItemsViewModel
@using MyProject.Models.Items

@{
    ViewData["Title"] = "新增";
}

<h1>新增</h1>

<h4>案源表</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "CaseSources", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CaseName" class="control-label"></label>
                <input asp-for="CaseName" class="form-control" />
                <span asp-validation-for="CaseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section" class="control-label"></label>
                <input asp-for="Section" class="form-control" />
                <span asp-validation-for="Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subsection" class="control-label"></label>
                <input asp-for="Subsection" class="form-control" />
                <span asp-validation-for="Subsection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandCount" class="control-label"></label>
                <input asp-for="LandCount" class="form-control" />
                <span asp-validation-for="LandCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAreaInSquareMeter" class="control-label"></label>
                <input asp-for="TotalAreaInSquareMeter" class="form-control" />
                <span asp-validation-for="TotalAreaInSquareMeter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAreaInPing" class="control-label"></label>
                <input asp-for="TotalAreaInPing" class="form-control" />
                <span asp-validation-for="TotalAreaInPing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildRate" class="control-label"></label>
                <input asp-for="BuildRate" class="form-control" />
                <span asp-validation-for="BuildRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolumeRate" class="control-label"></label>
                <input asp-for="VolumeRate" class="form-control" />
                <span asp-validation-for="VolumeRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hold" class="control-label"></label>
                <input asp-for="Hold" class="form-control" />
                <span asp-validation-for="Hold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingAreaInSquareMeter" class="control-label"></label>
                <input asp-for="SellingAreaInSquareMeter" class="form-control" />
                <span asp-validation-for="SellingAreaInSquareMeter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingAreaInPing" class="control-label"></label>
                <input asp-for="SellingAreaInPing" class="form-control" />
                <span asp-validation-for="SellingAreaInPing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UseSection" class="control-label"></label>
                <input asp-for="UseSection" class="form-control" />
                <span asp-validation-for="UseSection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UseStatus" class="control-label"></label>
                <input asp-for="UseStatus" class="form-control" />
                <span asp-validation-for="UseStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Environment" class="control-label"></label>
                <input asp-for="Environment" class="form-control" />
                <span asp-validation-for="Environment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feature" class="control-label"></label>
                <input asp-for="Feature" class="form-control" />
                <span asp-validation-for="Feature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCadastralMap" class="control-label"></label>
                <div class="form-control">
                    <input asp-for="IsCadastralMap" type="radio" value="@true" /> 有
                    <input asp-for="IsCadastralMap" type="radio" value="@false" /> 無
                </div>
                <span asp-validation-for="IsCadastralMap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAerialPhoto" class="control-label"></label>
                <div class="form-control">
                    <input asp-for="IsAerialPhoto" type="radio" value="@true" /> 有
                    <input asp-for="IsAerialPhoto" type="radio" value="@false" /> 無
                </div>
                <span asp-validation-for="IsAerialPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsTranscript" class="control-label"></label>
                <div class="form-control">
                    <input asp-for="IsTranscript" type="radio" value="@true" /> 有
                    <input asp-for="IsTranscript" type="radio" value="@false" /> 無
                </div>
                <span asp-validation-for="IsTranscript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsUseSection" class="control-label"></label>
                <div class="form-control">
                    <input asp-for="IsUseSection" type="radio" value="@true" /> 有
                    <input asp-for="IsUseSection" type="radio" value="@false" /> 無
                </div>
                <span asp-validation-for="IsUseSection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsUrbanPlanningManual" class="control-label"></label>
                <div class="form-control">
                    <input asp-for="IsUrbanPlanningManual" type="radio" value="@true" /> 有
                    <input asp-for="IsUrbanPlanningManual" type="radio" value="@false" /> 無
                </div>
                <span asp-validation-for="IsUrbanPlanningManual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCurrentPhotos" class="control-label"></label>
                <div class="form-control">
                    <input asp-for="IsCurrentPhotos" type="radio" value="@true" /> 有
                    <input asp-for="IsCurrentPhotos" type="radio" value="@false" /> 無
                </div>
                <span asp-validation-for="IsCurrentPhotos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueAddedTax" class="control-label"></label>
                <input asp-for="ValueAddedTax" class="form-control" />
                <span asp-validation-for="ValueAddedTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Other" class="control-label"></label>
                <input asp-for="Other" class="form-control" />
                <span asp-validation-for="Other" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agent" class="control-label"></label>
                <input asp-for="Agent" class="form-control" />
                <span asp-validation-for="Agent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div id="event" class="form-group">
                @await Component.InvokeAsync("LandInventories", null)
            </div>
            <div class="form-group">
                <a class="btn btn-primary" onclick="addRow()">＋</a>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">回上頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
