@model MyProject.Models.CaseSource

@{
    ViewData["Title"] = "刪除";
}

<h1>刪除</h1>

<h3>是否確定要刪除此筆資料？</h3>
<div>
    <h4>案源表</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subsection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subsection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAreaInSquareMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAreaInSquareMeter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAreaInPing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAreaInPing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolumeRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolumeRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellingAreaInSquareMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingAreaInSquareMeter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellingAreaInPing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingAreaInPing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseSection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Environment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Environment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCadastralMap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayName((Model.IsCadastralMap ?? false) ? "是" : "否")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAerialPhoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayName((Model.IsAerialPhoto ?? false) ? "是" : "否")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsTranscript)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayName((Model.IsTranscript ?? false) ? "是" : "否")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsUseSection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayName((Model.IsUseSection ?? false) ? "是" : "否")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsUrbanPlanningManual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayName((Model.IsUrbanPlanningManual ?? false) ? "是" : "否")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCurrentPhotos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayName((Model.IsCurrentPhotos ?? false) ? "是" : "否")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueAddedTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueAddedTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">回上頁</a>
    </form>
</div>
